<div class="card mb-3">
  <h2 class="card-header h4">
    Coffee Chat #<%= coffee_chat.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Consultant</dt>
      <dd>
        <% if @coffee_chat.consultant.present? %>
          <%= link_to coffee_chat.consultant, coffee_chat.consultant %>
        <% end %>
      </dd>

      <dt>Time</dt>
      <dd><%= coffee_chat.time %></dd>

      <dt>Followup email</dt>
      <dd><%= coffee_chat.followup_email %></dd>

      <dt>Goal of the chat</dt>
      <dd><%= coffee_chat.goal_of_the_chat %></dd>

      <dt>Location</dt>
      <dd><%= coffee_chat.location %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back coffee_chat, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_coffee_chat_url(coffee_chat), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to coffee_chat, method: :delete, data: { confirm: "Do you really want to delete this coffee_chat?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(coffee_chat.updated_at) %> ago
  </div>
</div>
