<% was_validated = coffee_chat.errors.any? %>

<%= form_with(model: coffee_chat, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% consultant_class = "form-control" %>
    <% consultant_was_invalid = coffee_chat.errors.include?(:consultant) %>

    <% if was_validated %>
      <% if consultant_was_invalid %>
        <% consultant_class << " is-invalid" %>
      <% else %>
        <% consultant_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :consultant_id %>
    <%= f.collection_select :consultant_id, Consultant.all, :id, :to_s, {}, class: "form-control" %>
    <% if consultant_was_invalid %>
      <% coffee_chat.errors.full_messages_for(:consultant).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% time_class = "form-control" %>
    <% time_was_invalid = coffee_chat.errors.include?(:time) %>

    <% if was_validated %>
      <% if time_was_invalid %>
        <% time_class << " is-invalid" %>
      <% else %>
        <% time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :time %>
    <%= f.text_field :time, class: time_class, placeholder: "Enter time" %>
    <% if time_was_invalid %>
      <% coffee_chat.errors.full_messages_for(:time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% followup_email_class = "form-control" %>
    <% followup_email_was_invalid = coffee_chat.errors.include?(:followup_email) %>

    <% if was_validated %>
      <% if followup_email_was_invalid %>
        <% followup_email_class << " is-invalid" %>
      <% else %>
        <% followup_email_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :followup_email %>
    <%= f.text_field :followup_email, class: followup_email_class, placeholder: "Enter followup email" %>
    <% if followup_email_was_invalid %>
      <% coffee_chat.errors.full_messages_for(:followup_email).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% goal_of_the_chat_class = "form-control" %>
    <% goal_of_the_chat_was_invalid = coffee_chat.errors.include?(:goal_of_the_chat) %>

    <% if was_validated %>
      <% if goal_of_the_chat_was_invalid %>
        <% goal_of_the_chat_class << " is-invalid" %>
      <% else %>
        <% goal_of_the_chat_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :goal_of_the_chat %>
    <%= f.text_field :goal_of_the_chat, class: goal_of_the_chat_class, placeholder: "Enter goal of the chat" %>
    <% if goal_of_the_chat_was_invalid %>
      <% coffee_chat.errors.full_messages_for(:goal_of_the_chat).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% location_class = "form-control" %>
    <% location_was_invalid = coffee_chat.errors.include?(:location) %>

    <% if was_validated %>
      <% if location_was_invalid %>
        <% location_class << " is-invalid" %>
      <% else %>
        <% location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :location %>
    <%= f.text_field :location, class: location_class, placeholder: "Enter location" %>
    <% if location_was_invalid %>
      <% coffee_chat.errors.full_messages_for(:location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
